@page "/detail/{Id}"
@inherits RecipeDetailBase


@if (Recipe == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="main">
        <card>
            <div class="card-header">
                <span>@Recipe.Title</span>
            </div>
            <img src="@Recipe.ImgUrl" class="img-fluid card-img-top" />
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 p-3">
                            @Recipe.Description
                        </div>
                    </div>
                    <Content Ingredients="@Recipe.Ingredients" Instructions="@Recipe.Instructions" />
                    <ReviewForm OnReviewCreated="ReviewCreated" RecipeId="@Recipe.Id" />
                    <ReviewList Reviews="@Reviews" />
                </div>
            </div>
        </card>
    </div>

}